<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>

    <add name="MyConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\User\source\repos\IEE322\IEE322\Database1.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>


  <appSettings>
    <add key="senderEmail" value="binbaker64@gmail.com"/>
    
    <add key="senderEmailPassword" value=""/>
    
      <add key="Language" value="Ar"/>
    
    
</appSettings>
</configuration>